@import "fonts.css" screen;

body, html {
    height: 100%;
    width: 100%;
    background-image: url(../img/bg-pattern.png);
    background-size: cover;
    background-color: #4a3092;
    font-family: Futurice-Monospaced, "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url(../img/pattern.png);
}

.hidden {
    height: 0;
    width: 0;
    display: none !important;
    visibility: hidden;
}

h1 {
    font-size: 16em;
}

h2 {
    font-size: 4em;
}

p {
    font-size: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.container {
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#information-view, #preview-view {
    padding-top: 5%;
    display: block;
    text-align: center;
}

#preview-view p {
    font-size: 30px;
}

.input-wrap {
    position: absolute;
    top: 16px;
    left: 16px;
    width: 300px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    color: #fff5af;
    text-align: center;
    overflow: hidden;
}

.input-wrap.hidden {
    display: none !important;
}

.input-wrap span {
    display: block;
    margin: 0.6em;
    font-size: 1.7em;
    color: #ff9090;
}

.input-wrap span:first-child {
    color: #fff5af;
}

.input-wrap input {
    width: 110%;
    margin: 0;
    margin-left: -15%;
    padding-top: 0.5em;
    border: none;
    letter-spacing: 0.15em;
    font-family: Futurice-Monospaced, "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-size: 4.4em;
    background-color: rgba(255, 255, 255, 0.3);
    text-align: center; 
    border: 0;
    color: #fff;
    text-transform: uppercase;
}

.input-wrap input::-webkit-input-placeholder {
   color: #fff;
}
.input-wrap input:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}
.input-wrap input::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}
.input-wrap input:-ms-input-placeholder {  
   color: #fff;  
}

#preview-view button {
    margin-right: 30px;
}

.button-wrap {
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    cursor: pointer;
    transform: rotate(-1deg);
    border: 2px solid #fff5af;
    /* box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1); */
}

button {
    letter-spacing: 0.15em;
    font-size: 4.6em;
    background-color: rgba(0, 0, 0, 0);
    padding: 16px;
    border-radius: 0px;
    color: #fff;
    font-size: 60px;
    border: 2px solid #a198c4;
    text-transform: lowercase;
    transform: rotate(2deg);
    /* box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1); */
    font-family: Futurice-Monospaced, "proxima-nova", "Helvetica Neue", Arial, sans-serif;
}

button:nth-child(even) {
    transform: rotate(-1deg);
    color: #ff9090;
}

button:nth-child(even):hover {
    transform: rotate(1deg);
}

.neon {
    text-align: center;
    font-family: Futurice-Monospaced, "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    color: #ff9090;
}

.bright {
    color: #fff5af;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

#progress-bar {
    background: #4a3092;
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
}

#progress-track {
    /*background: repeating-linear-gradient(45deg, #4a3092, #4a3092 5%, #ff9090 5%, #ff9090 10%);*/
    background-image: url(../img/pattern.png);
    background-size: cover;
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    /*box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);*/
}

#preview-view img {
    margin-bottom: 30px;
}

#preview-container {
    height: 320px;
}

#preview-loader {
    height: 320px;
}

#dance-view {
    padding-top: 50px;
}

img.loader {
    width: 40%;
}

img.loader.finlandia {
    width: 70%;
}

.fullscreen .fullscreen-on {
    display: none;
    visibility: hidden;
}

.fullscreen-on {
    z-index: 999999;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

.flyin:not(.hidden) {
  animation: flyin 1s ease forwards;
  opacity: 0;
  transform: scale(2);
}

.flyout:not(.hidden) {
  animation: flyout 1s ease forwards;
  opacity: 1;
  transform: scale(1);
}

@keyframes flyin {
   to {
     transform: scale(1);
     opacity: 1;
   }
}

@keyframes flyout {
   to {
     transform: scale(2);
     opacity: 0;
   }
}