body, html {
    height: 100%;
    width: 100%;
    background-color: #FF5240;
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    overflow: hidden;
}

.hidden {
    height: 0;
    width: 0;
    display: none !important;
    visibility: hidden;
}

h1 {
    font-size: 16em;
    letter-spacing: -10px;
}

p {
    font-size: 50px;
    width: 600px;
    margin-left: auto;
    margin-right: auto;

}

.container {
    display: table;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.view {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

#information-view, #preview-view {
    padding-top: 5%;
    display: block;
    text-align: center;
}

#preview-view p {
    font-size: 30px;
}

.input-wrap {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 320px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
    background-color: #210F00;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    border-width: 0;
    border-top-width: 10px;
    overflow: hidden;
}

.input-wrap.hidden {
    display: none !important;
}

.input-wrap span {
    display: block;
    font-size: 1.7em;
    margin: 15px;
}

.input-wrap input {
    width: 110%;
    margin: 0;
    margin-left: -5%;
    border: none;
    letter-spacing: 0.15em;
    font-size: 4.7em;
    background-color: #fff;
    text-align: center; 
    border: 0;
    color: #210F00;
    text-transform: uppercase;
}

.input-wrap input::-webkit-input-placeholder {
   color: #FF5240;
}
.input-wrap input:-moz-placeholder { /* Firefox 18- */
   color: #FF5240;  
}
.input-wrap input::-moz-placeholder {  /* Firefox 19+ */
   color: #FF5240;  
}
.input-wrap input:-ms-input-placeholder {  
   color: #FF5240;  
}

#preview-view button {
    margin-right: 30px;
}

.button-wrap {
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    cursor: pointer;
    transform: rotate(-1deg);
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0.1);
}

button {
    letter-spacing: 0.15em;
    font-size: 4.6em;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    color: #210F00;
    font-size: 60px;
    border: 0;
    font-weight: bold;
    transform: rotate(2deg);
    box-shadow: 4px 10px 10px rgba(0, 0, 0, 0.1);
}

button:nth-child(even) {
    transform: rotate(-1deg);
}

button:nth-child(even):hover {
    transform: rotate(1deg);
}

.neon {
    text-align: center;
    font-family: "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #210F00;
}

.bright {
    color: #fff;
    text-shadow: 2px 5px 10px rgba(0, 0, 0, 0.1);
}

#progress-bar {
    background: #FF5240;
    position: fixed;
    height: 80px;
    left: 0;
    top: 0;
    width: 100%;
}

#progress-track {
    background: repeating-linear-gradient(45deg, #009692, #009692 5%, #fae45d 5%, #fae45d 10%);
    position: fixed;
    height: 50px;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.1);
}

#preview-view img {
    margin-bottom: 30px;
}

#preview-loader {
    width: 100px;
    height: 100px;
}

img.loader {
  width: 100%;
}

p#ok:hover {
    cursor: pointer;
}

p#ok {
    width: 80px;
    height: 80px;
    font-size: 5em;
    text-align: center;
    display: block;
    position: fixed;
    top: 25px;
    left: 20px;
}

.fullscreen .fullscreen-on {
    display: none;
    visibility: hidden;
}

.fullscreen-on {
    z-index: 999999;
    position: fixed;
    top: 10px;
    right: 10px;
    height: 50px;
    font-size: 20px;
    padding: 5px;
}

.flyin:not(.hidden) {
  animation: flyin 1s ease forwards;
  opacity: 0;
  transform: scale(2);
}

.flyout:not(.hidden) {
  animation: flyout 1s ease forwards;
  opacity: 1;
  transform: scale(1);
}

@keyframes flyin {
   to {
     transform: scale(1);
     opacity: 1;
   }
}

@keyframes flyout {
   to {
     transform: scale(2);
     opacity: 0;
   }
}